{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "consistent",
  "embeddedLanguageFormatting": "auto",
  "vueIndentScriptAndStyle": true,
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "printWidth": 1000,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["classNames"]
}
